html
  head
    title DashBoard
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='Cache-control', content='public')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset='UTF-8')
body
    #app
    script(src="/dist/build.js")
 
      